#hero
  background: url(../img/hero-billboard.jpg)
  background-attachment: fixed;

.billboard
  position: relative;
  height: 550px
  background: 50% 50% / cover
  color: $white
  box-sizing: border-box

  &:before
    content: ""
    position: absolute
    top: 0
    bottom: 0
    left: 0

  h1,a
    color: $white !important

  a.button.hollow
    border-color: $white
