.billboard
  height: 550px
  background-size: cover
  background: url(../img/hero-billboard.jpg) no-repeat 70% center
  color: $white

  @include breakpoint(medium)
    background-position: center center

  h1,a
    color: $white !important

  a.button.hollow
    border-color: $white
