.entry
  border: 1px solid #ccc
  padding: 20px
  overflow: hidden
  margin-bottom: rem-calc(30)

  p
    font-size: 16px
    line-height: 22px

  &-summary
    width: 65%
    float: left
    margin-right: 5%

  &-thumb
    width: 30%
    float: right
